<Config>
  <LogLevel>info</LogLevel>
  <EnableSsl>False</EnableSsl>
  <Port>8989</Port>
  <SslPort>9898</SslPort>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <ApiKey>{{ sonarr_api_key }}</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <UpdateMechanism>Docker</UpdateMechanism>
  <LaunchBrowser>True</LaunchBrowser>
  <Branch>main</Branch>
  <InstanceName>Sonarr</InstanceName>
  <SyslogPort>514</SyslogPort>
  <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <PostgresUser>sonarr</PostgresUser>
  <PostgresPassword>{{ sonarr_password }}</PostgresPassword>
  <PostgresPort>5432</PostgresPort>
  <PostgresHost>172.24.0.17</PostgresHost>
  <PostgresMainDb>sonarr-main</PostgresMainDb>
  <PostgresLogDb>sonarr-log</PostgresLogDb>
</Config>