[Unit]
Description=Fan control using temperature

[Service]
Type=simple
ExecStart=/home/pi/fancontrol/fancontrol.py
Restart=on-failure

[Install]
WantedBy=multi-user.target