[Unit]
Description=hdparm configuration
After=suspend.target

[Service]
Type=oneshot

# Enable lookahead
ExecStart=/sbin/hdparm -A1 /dev/disk/by-uuid/{HDD UUID} /dev/disk/by-uuid/{HDD UUID}
# Enable write_cache
ExecStart=/sbin/hdparm -W1 /dev/disk/by-uuid/{HDD UUID} /dev/disk/by-uuid/{HDD UUID}
# Set APM settings to spindown HDD
ExecStart=/sbin/hdparm -B127 /dev/disk/by-uuid/{HDD UUID} /dev/disk/by-uuid/{HDD UUID}
# Set spindown_time to 5 seconds
ExecStart=/sbin/hdparm -S12 /dev/disk/by-uuid/{HDD UUID} /dev/disk/by-uuid/{HDD UUID}

[Install]
WantedBy=suspend.target basic.target
