[Unit]
Description=mdadm read/write privileges and mount directories
After=rockpi-sata.service
Before=docker.service

[Service]
Type=simple
ExecStart=/etc/mdadm-readwrite/mdadm-readwrite.sh
User=root

[Install]
WantedBy=rockpi-sata.service