<Config>
  <BindAddress>*</BindAddress>
  <Port>7878</Port>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>{{ radarr.api_key }}</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <Branch>master</Branch>
  <LogLevel>info</LogLevel>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UrlBase></UrlBase>
  <InstanceName>Radarr</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
  <Theme>auto</Theme>
  <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
  <PostgresUser>radarr</PostgresUser>
  <PostgresPassword>{{ radarr.password }}</PostgresPassword>
  <PostgresPort>5432</PostgresPort>
  <PostgresHost>172.24.0.17</PostgresHost>
  <PostgresMainDb>radarr-main</PostgresMainDb>
  <PostgresLogDb>radarr-log</PostgresLogDb>
</Config>