[Unit]
Description=mdadm read/write privileges and mount directories
After=rockpi-sata.service

[Service]
Type=simple
ExecStart=/home/pi/mdadm-readwrite.sh
User=pi

[Install]
WantedBy=rockpi-sata.service
